node_modules/
dist/

# Logs
*.log
pm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS
.DS_Store
thumbs.db

# Editor/IDE
.vscode/
.idea/
*.sublime-project
*.sublime-workspace 
reference